body {
	@import 'https://fonts.googleapis.com/css?family=Oswald';
	margin:0;
	padding: 0;
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 700px;
	margin: 0 auto;
	max-height: 400px;
}
.my-form{
	margin:120px 0 0 0;
}
.data-div{
	cursor: move;
}

.my-li-hover{
	-webkit-transition:1s;
    transition: 1s;
}
.my-li-hover:hover{
	background: silver;
}

.my-list{
	font-family: tahoma;
}